@media screen and (max-width: 800px) {
  .backgroundLogin {
    min-width:200px !important;
    min-height:150px !important;
    width: auto !important;
    height: auto !important;
  }

  body {
    width: 400% !important;
  }

  .v-card {
    display:inline-block;
    align-items: center;
    flex-direction: row;
    width:75vw !important;
    margin-bottom: 150px !important;
  }
}